body{
  font-family: 'Source Sans Pro', sans-serif;
	margin: 0px;
}

a{
  color: black;
}

header {
  width: 100%;
  padding-top: 1%;
  padding-bottom: 1%;
  background-color: white;
  position: fixed;
}

.active a {
  text-decoration: underline;
}

.NAVIGATION {
  width: 55%;
  height: auto;
  margin: auto;
}

.logo {
  padding-top: 14px;
  padding-bottom: 10px;
  float: left;
	height: 2%;
  margin-right: 10px;
}

.main-name {
  padding-top: 15px;
  padding-bottom: 10px;
  float: left;
  font-weight: bolder;
}

.main-name a {
  text-decoration: none;
}

ul li {
  padding-top: 10px;
  padding-bottom: 10px;
  display: inline;
}

ul {
  float: right;
  text-align: right;
	font-weight: bolder;
	text-decoration: overline;
}

ul a {
  margin-left: 20px;
}

ul a:hover {
text-decoration: line-through;
}

.mobile-nav {
  display: none;
}



.box {
  width: 100%;
  height: auto;
}


.picture-banner {
	width: 100%;
  z-index: 1;
}

.wrapper-text {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  z-index: 2;
}

.profil {
	float: left;
	height: 200px;
	width: auto;
  margin-top: -15%;
}

.einfuehrungstext {
  float: right;
	height: auto;
	width: 70%;
}

.einfuehrungstext h1 {
  color: black;
  font-size: 35px;
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}

.einfuehrungstext p {
  font-size: 18px;
  color: black;
	line-height: 1.5;
}

blockquote {
  display: block;
		float: left;
    border-left: 15px solid #eee;
		width: 100%;
    height: auto;
		margin-top: 2%;
		margin-left: -10%;
}

blockquote p {
	font-size: 35px;
	text-transform: uppercase;
}

.picture-banner {
  padding-top: 5%;
	width: 100%;
}

.box1 {
  position: absolute;
  width: 100%;
  margin-top: 35%;
  height: auto;
  background-color: lightgrey;
}

.wrapper-spalte {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.thumbnails {
	width: 50%;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 2%;
  margin-top: 15%;
}

.spalte {
		display: inline-block;
    width: 29%;
    vertical-align: top;
    padding-left: 2%;
    padding-right: 2%;
    margin-bottom: 6%;
}

.spalte p {
  font-family: 'Shift', sans-serif;
  font-size: 18px;
  font-weight: normal;
}

.spalte h3 {
  font-family: 'Shift', sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.spalte p a{
  text-decoration: none;
}

.spalte p a:hover{
  text-decoration: line-through;
}





@media only screen and (max-width: 768px) {


  header {
      width: calc(100% - 80px);
      height: auto;
      position: inherit;
  }

  .logo {
    float: none;
    height: 3%;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
  }


  .main-name {
    display: none;
  }

  .mobile-nav {
    display: inline-block;
    text-align: center;
  }
  .desktop-nav {
    display: none;
  }

  ul {
    text-align: center;
    margin-bottom: 30px;
  }

  ul.mobile-nav a {
    margin-bottom: 30px;
    margin-left: 0;
  }


  ul {
    float: none;
  }

}
